.nyc_output/
bin/daemon/
coverage/

cypress/downloads/
cypress/screenshots/
cypress/videos/

data/backups/*
!data/backups/README.md

data/sessions/

node_modules/

data/*.db
data/*.db-journal
data/apiKeys.json

data/config.d.ts
data/config.js
data/config.ts

public/images-custom/*

temp/wmf/
temp/config.*
temp/*.csv

megalinter-reports/
