<aside class="menu">
  <h2 class="menu-label">
    Employees
  </h2>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/admin/employees">
        Employee Maintenance
      </a>
    </li>
  </ul>
  <h2 class="menu-label">
    Application
  </h2>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/admin/users">
        Users
      </a>
    </li>
  </ul>
</aside>