<nav class="breadcrumb">
  <ul>
    <li class="is-active">
      <a href="#" aria-current="page">
        Employee Attendance
      </a>
    </li>
    <li class="is-active">
      <a href="#">
        <span>Employees</span>
      </a>
    </li>
  </ul>
</nav>
<h1 class="title is-1">Employees</h1>
<div class="box">
  <div class="field">
    <div class="control has-icons-left">
      <input class="input" id="employees--searchFilter" type="text" placeholder="Filter Employees" aria-label="Filter Employees" />
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
<div id="employees--searchResults"></div>