<nav class="breadcrumb">
  <ul>
    <li class="is-active">
      <a href="#" aria-current="page">
        Employee Attendance
      </a>
    </li>
    <li class="is-active">
      <a href="#">
        <span>Absence Requests</span>
      </a>
    </li>
  </ul>
</nav>
<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-1">Absence Requests</h1>
  </div>
  <div class="column is-narrow has-text-right">
    <a class="button" href="<%= urlPrefix %>/reports/absenceRecords-recent" download>
      <span class="icon"><i class="fas fa-file-csv" aria-hidden="true"></i></span>
      <span>Export</span>
    </a>
    <% if (permissionFunctions.hasPermission(user, 'attendance.absences.canUpdate')) { %>
      <button class="button is-success is-new-call-in-button" data-cy="add-absence" type="button">
        <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <span>New Call In</span>
      </button>
    <% } %>
  </div>
</div>
<div id="container--absences"></div>