<nav class="breadcrumb">
  <ul>
    <li class="is-active">
      <a href="#" aria-current="page">
        Employee Attendance
      </a>
    </li>
    <li class="is-active">
      <a href="#">
        <span>Call Out Lists</span>
      </a>
    </li>
  </ul>
</nav>
<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-1">Call Out Lists</h1>
  </div>
  <% if (permissionFunctions.hasPermission(user, 'attendance.callOuts.canManage')) { %>
    <div class="column is-narrow has-text-right">
      <button class="button is-success" id="callOuts--create" type="button">
        <span class="icon"><i class="fas fa-plus" aria-hidden="true"></i></span>
        <span>Create Call Out List</span>
      </button>
    </div>
  <% } %>
</div>
<div class="box">
  <div class="field">
    <div class="control has-icons-left">
      <input class="input" id="callOuts--searchFilter" type="text" placeholder="Filter Call Out Lists" aria-label="Filter Call Out Lists" />
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>
<div id="callOuts--searchResults"></div>